@{
    ViewData["Title"] = "Home Page";
}

 <!DOCTYPE html>
  <html>
  <head>
      <meta name="viewport" content="width=device-width" />
      <title>Party!</title>
  </head>
  <body>
      <div>
          <div>
              We have cources <br>
              You can :<br> Watch list of available cources<br>
              Watch list of player<br>
              <a asp-action="Registration">Registration now!</a>
          </div>
          
      </div>
  </body>
  </html>

