@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
<div>
    <h1>Thank you, @Model.Name!</h1>
    
</div>
<div>Click <a asp-action="ListRegistrations">here</a> to see who is registrating.</div>
</body>
</html>     